<div id="activity">
  <table id="activity-table">
    <thead>
      <tr>
        <th>Project ID</th>
        <th>Action</th>
        <th>Type</th>
        <th>Title</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>        
      {{#if viewData.activities.length}}
      {{#each viewData.activities}}
      <tr class="activity-tr">
          <th>{{this.projectId}}</th>
          <th>{{this.action}}</th>
          <th>{{this.type}}</th>
          <th>{{this.title}}</th>
          <th>{{this.createdAt}}</th>
      </tr>
      {{/each}}
      {{else}}
      <tr>
        <td>No activities found.</td>
      </tr>
      {{/if}}
      </tbody>
  </table>
  <div id="pagination-nav">
    <a href="/activity?page={{viewData.prev}}">Prev</a>
    <a href="/activity?page={{viewData.next}}">Next</a>
  </div>
</div>